.container {
  height: 100vh;
  height: 100dvh;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

h1 {
  color: #333;
}

p {
  color: #666;
}
